*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: peru;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
p {
  display: block;
}
div {
  height: 200px;
  width: 150px;
  background-color: wheat;
}
