*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(17, 16, 16);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
h1 {
  color: white;
  font-size: 25px;
  text-align: center;
  margin-top: 14px;
}
h3 {
  color: greenyellow;
  font-size: 19px;
  text-align: center;
  margin-top: 9px;
}
p {
  display: block;
  color: white;
  font-size: 13px;
  text-align: center;
  margin-top: 19px;
}
img {
  height: 68px;
  width: 68px;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 14px;
}
a {
  color: #fff;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  display: block;
}
div {
  width: 280px;
  background-color: rgb(32, 31, 30);
  border-radius: 14px;
}
li {
  list-style: none;
  background-color: rgb(49, 50, 53);
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 19px;
  margin-right: 19px;
  border-radius: 10px;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 16px;
  margin-bottom: 25px;
}
